@import "../../assets/styles/_variables.scss";

.content {
    padding: 70px 10px 10px 240px;
}

.product-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.product-item {
    border: 1px solid $border-color;
    padding: 0px 20px 20px;
}

.product {
    &__image {
        display: block;
        margin: 10px auto;
        height: 150px;
        max-width: 100%;
    }

    &__name {
        font-size: 1rem;
        font-weight: $fw-bold;
        color: $title-color;
        text-align: center;
        margin-bottom: 8px;
    }

    &__price {
        font-size: 1.2rem;
        font-weight: $fw-bold;
        color: $title-color;
        float: right;
    }
}
    