.input-price {
  width: 45px;
  margin-right: 5px;
  font-size: 0.8rem;
}

.btn-price {
  padding: 0;
  width: 25px;
  height: 25px;
  border-radius: 72px;
  font-size: 0.8rem;
}

.link-price a {
  text-decoration: none;
}

span {
  margin-right: 5px;
}
