@import "../../assets/styles/_variables.scss";

.sidebar {
    position: fixed;
    overflow-y: auto;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 230px;
    padding: 20px;
    border-right: 1px solid $border-color;
    background: $white-color;
}

h1 {
    font-weight: $fw-bold;
    color: $title-color;
    margin-top: 25px;
    margin-bottom: 10px;
}
